* {
  margin: 0px;
}

li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(104, 104, 238);
}
ul h2 {
  text-align: center;
  padding: 10px 300px;
  color: white;
}

ul img {
  display: block;
  background-color: rgb(104, 104, 238);
  float: left;
  height: 50px;
  width: 50px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 17px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 5px 0 5px 0;
  color: white;
  background-color: rgb(104, 104, 238);
  text-align: center;
  margin-top: 20px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 300px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.table_id{
  border: 1px solid black; 
  margin-bottom: 30px;
}

td{
  border: 1px solid black;
}


.delete{
  background-color: red;
  padding: 10px;
  font-size: 13px;
  color: white;
  border: none;
  border-radius: 5px;
}
